.App {
  text-align: center;
  height: 100%;
}

.game-status-display {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding-top: 5%;
}

/* --- For logging in --- */

.logged-in-as {
  font-size: 1em;
}

.header {
  width: 98%;
  height: 12vw;
  max-height: 50px;
  padding: 1%;
  background-color: white;
  border-bottom: solid 1px #00000044;
  box-shadow: 0px 0.25em 1em 0.125em #00000044;
}

.not-logged-in {
  width: 30%;
  display: inline-block;
  text-align: left;
}

.login-bar-container {
  width: 100%;
  display: inline-block;
  text-align: left;
}

@media only screen and (max-width : 700px) {
  .login-bar-container {
    width: 100%;
    text-align: center;
  }
  
}

.loading-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center
}

.log-in-bar {
  width: 100%;
  display: inline-block;
}

.username-field {
  width: 70%;
  margin-top: 0.5%;
  margin-right: 5%;
  border: 1px solid #00000088;
  border-radius: 5vw;
  text-indent: 1em;
}

.login-button {
  width: 20%;
  text-align: center;
  border: 2px solid;
  border-color: blue;
  background-color: white;
  color: blue;
  border-radius: 0.5em;
}

.login-button:hover {
  cursor: pointer;
}

.logout-button {
  width: 100%;
  text-align: center;
  border: 2px solid;
  border-color: blue;
  background-color: white;
  color: blue;
  border-radius: 0.5em;
}

.logout-button:hover {
  cursor: pointer;
}

.user-info {
  width: 80%;
  display: inline-block;
  text-align: left;
}
.logout-button-container {
  width: 20%;
  display: inline-block;
  text-align: right;
}

.games-won {
  display: inline-block;
  font-size: 1em;
  text-indent: 1em;
  text-align: left;

}

.user-name {
  font-size: 1.25em;
  font-weight: bold;
}

.user-info-a {
  display: inline-block;
  width: 40%;
  text-align: right;
}
.user-info-b {
  display: inline-block;
  width: 10%;
  text-align: center;
}

.how-to-play h3 {
  text-align: left;
}
.how-to-play p {
  text-align: left;
}

.menu-button {
  width: 97.5%;
  display: block;
  margin: 1.25%;
  height: 2em;
  font-size: 1em;
  background-color: blue;
  border: none;
  border-radius: 0.5em;
  color: white;
}

.menu-button:hover {
  cursor: pointer;
  background-color: #4a8aff;
}

.submenu-button {
  width: 95%;
  padding: 1em;
  font-size: 1em;
  border: 2px solid;
  border-color: blue;
  background-color: white;
  color: blue;
  border-radius: 0.5em;
}

.submenu-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.menu-button:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}