.App {
  text-align: center;
  margin: 1vw;
}

/* --- For LetterInput component --- */
.letter-input {
  text-align: center;
  padding: 2.5vw;
  border: solid 1px black;
  border-radius: 10px;
}

.letter-input h3 {
  display: inline-block;
}

.letter-input .input-text {
  min-width: 100px;
  width: 10vw;
  max-width: 100px;
  min-height: 100px;
  height: 10vw;
  max-height: 100px;
  aspect-ratio: 1;
  font-size: x-large;
  border: none;
  border-radius: 20px;
  background-color: rgb(156, 193, 223);
  text-align: center;
  margin: 4vw;
  display: inline-block;
}

.letter-input .input-submit {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 10vw;
  max-height: 50px;
  cursor: pointer;
}

.letter-input .input-submit:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.error-msg {
  width: 100%;
  height: 5vw;
  max-height: 50px;
  text-align: center;
}

.letter-input-header div {
  display: inline-block;
  vertical-align: middle;
}

.letter-input-header .header-a {
  width: 33%;
  font-size: 2vw;
  text-align: center;
}
.letter-input-header .header-b {
  width: 33%;
  font-size: 3vw;
  text-align: center;
}
.letter-input-header .header-c {
  width: 33%;
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .letter-input-header .header-a {
    width: 50%;
    text-align: center;
  }
  .letter-input-header .header-b {
    width: 50%;
    text-align: center;
  }
  .letter-input-header .header-c {
    width: 100%;
  }
  
}

.letter-input-header .header-c button {
  width: 100%;
}

.letter-input-header .header-c button:disabled {
  width: 100%;
}

/* --- For LetterInput Keyboard component --- */

.keyboard-row {
  width: 100%;
  font-size: large;
}

.keyboard-tile {
  width: 10%;
  margin: 0.5%;
  aspect-ratio: 1;
  font-size: 5vw;
  background-color: darkslategray;
  border: none;
  border-radius: 5%;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.keyboard-tile:hover {
  cursor: pointer;
  background-color: gray;
}

.keyboard-tile:disabled {
  cursor: not-allowed;
  width: 7.5%;
  margin: 1.75%;
}

.keyboard-row .correct-letter {
  background-color: hsl(100, 50%, 50%);
  color: hsl(100, 25%, 25%);
}

.keyboard-row .incorrect-letter {
  background-color: hsl(0, 50%, 65%);
  color: hsl(0, 25%, 25%);
}

/* --- For PhraseDisplay Component --- */

.guessed-letters {
  background-color: white;
  color: black;
}

.guessed-letter {
  display: inline-block;
  margin: 1vw;
  font-weight: bold;
  font-style: bold;
}

.word {
  margin: 1vw;
  display: inline-block;
}

.char-tile {
  min-width: 50px;
  width: 5vw;
  min-height: 75px;
  height: 7.5vw;
  text-align: center;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
}

.letter-tile {
  border: solid 1px black;
}

.game-lost {
  color: red;
}