.App {
  text-align: center;
  margin: 0vw;
  height: 100%;
}

.game-status-display {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50vh;
  padding-top: 5%;
}

/* --- For LetterInput component --- */
.letter-input {
  text-align: center;
  border: solid 1px black;
  border-radius: 10px;
  width: 92%;
  bottom: 2%;
  position: absolute;
  margin: 2%;
  padding: 2%;
}

.letter-input h3 {
  display: inline-block;
}

.letter-input .input-text {
  min-width: 100px;
  width: 10vw;
  max-width: 100px;
  min-height: 100px;
  height: 10vw;
  max-height: 100px;
  aspect-ratio: 1;
  font-size: x-large;
  border: none;
  border-radius: 20px;
  background-color: rgb(156, 193, 223);
  text-align: center;
  margin: 4vw;
  display: inline-block;
}

.letter-input .input-submit {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 10vw;
  max-height: 50px;
  cursor: pointer;
}

.letter-input .input-submit:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.error-msg {
  width: 100%;
  height: 5vw;
  max-height: 50px;
  text-align: center;
}

.letter-input-header div {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 2%;
}

.letter-input-header .header-a {
  width: 33%;
  height: 100%;
  font-size: min(4vw,24px);
  text-align: center;
}
.letter-input-header .header-b {
  width: 33%;
  font-size: 3vw;
  text-align: center;
}
.letter-input-header .header-c {
  width: 33%;
  text-align: right;
}

@media only screen and (max-width: 700px) {
  .letter-input-header .header-a {
    width: 50%;
    text-align: center;
  }
  .letter-input-header .header-b {
    width: 50%;
    text-align: center;
  }
  .letter-input-header .header-c {
    width: 100%;
  }
  
}

.letter-input-header .header-c button {
  width: 100%;
}

.letter-input-header .header-c button:disabled {
  width: 100%;
}

/* --- For LetterInput Keyboard component --- */

.keyboard-row {
  width: 100%;
  font-size: large;
}

.keyboard-tile {
  width: 10%;
  max-width: 100px;
  margin: 0.5%;
  aspect-ratio: 1;
  font-size: min(5vw, 50px);
  background-color: darkslategray;
  border: none;
  border-radius: 5%;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.keyboard-tile:hover {
  cursor: pointer;
  background-color: gray;
}

.keyboard-tile:disabled {
  cursor: not-allowed;
  width: 7.5%;
  max-width: 75px;
  font-size: min(3.75vw, 37.5px);
  margin: 1.75%;
}

.keyboard-row .correct-letter {
  background-color: hsl(100, 50%, 50%);
  color: hsl(100, 25%, 25%);
}

.keyboard-row .incorrect-letter {
  background-color: hsl(0, 50%, 65%);
  color: hsl(0, 25%, 25%);
}

/* --- For PhraseDisplay Component --- */

.phrase-display {
  width: 74%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .phrase-display {
    width: 100%;
  }
}

.guessed-letters {
  background-color: white;
  color: black;
}

.guessed-letter {
  display: inline-block;
  margin: 1vw;
  font-weight: bold;
  font-style: bold;
}

.word {
  width: auto;
  margin: 1vw;
  display: inline-block;
}

.char-tile {
  min-width: 25px;
  width: 10vw;
  max-width: 50px;
  min-height: 75px;
  height: 7.5vw;
  max-height: 3.75vw;
  text-align: center;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  font-size: 3em;
  display: inline-block;
  vertical-align: middle;
}

.letter-tile {
  border: solid 1px black;
}

.game-lost {
  color: red;
}

/* --- For PenaltyCounter Component --- */

.penalty-counter {
  width: 20%;
  padding: 2%;
  display: inline-block;
  vertical-align: top;
}

.penalty-counter img {
  width: 100%;
  max-width: 20vh;
  object-fit: contain;
}

@media only screen and (max-width: 700px) {
  .penalty-counter {
    width: 30%;
  }
}