/* --- For PhraseDisplay Component --- */

.phrase-display {
    width: 75%;
    display: inline-block;
}

.hint {
    width: 75%;
}
  
@media only screen and (max-width: 700px) {
    .phrase-display {
        width: 100%;
    }
}

.guessed-letters {
    background-color: white;
    color: black;
}

.guessed-letter {
    display: inline-block;
    margin: 1vw;
    font-weight: bold;
    font-style: bold;
}

.word {
    margin: min(2vw, 20px);
    display: inline-block;
}

.char-tile {
    max-width: 50px;
    max-height: 75px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.letter-tile {
    border: solid 1px black;
}

.game-lost {
    color: red;
}

.game-won {
    color: green;
}
