/* --- For PhraseDisplay Component --- */

.phrase-display {
    width: 74%;
    display: inline-block;
  }
  
  @media only screen and (max-width: 700px) {
    .phrase-display {
      width: 100%;
    }
  }
  
  .guessed-letters {
    background-color: white;
    color: black;
  }
  
  .guessed-letter {
    display: inline-block;
    margin: 1vw;
    font-weight: bold;
    font-style: bold;
  }
  
  .word {

    margin: 2vw;
    display: inline-block;
  }
  
  .char-tile {
    min-width: 25px;
    width: 0.5em;

    max-width: 50px;
    min-height: 38px;
    height: 0.75em;
    max-height: 75px;
    text-align: center;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
  }
  
  .letter-tile {
    border: solid 1px black;
  }
  
  .game-lost {
    color: red;
  }
  